[Unit]
Description=Manage USB device functions
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/usbdevice start
ExecStop=/usr/bin/usbdevice stop
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
